<%= turbo_frame_tag 'add_new_trait' do %>
  <%= link_to 'Close', edit_profile_path %>
  <%= form_with(model: @trait, data: { controller: "emoji-picker" } ) do |form| %>
    <div class="flex">
      <%= render 'emojis/picker' %>
      <%= form.hidden_field :emoji, data: { emoji_picker_target: 'hiddenInput' } %>
      <%= form.hidden_field :category, value: 'interest' %>
      <%= form.text_field :value %>
      <%= form.submit '✅' %>
    </div>
  <% end %>
<% end %>