<div class=" bg-slate-200 rounded-2xl shadow overflow-hidden mx-auto">
  <% if @user.avatar.attached? %>
    <div class="p-1 pb-0">
      <image class="rounded-2xl object-cover w-full h-full" src="<%= url_for(@user.avatar) %>">
    </div>
  <% end %>

  
  <div class="p-6 pt-0">
    <%= turbo_frame_tag 'username' do %>
      <p class="font-semibold text-4xl mt-4"><%= @user.username %></p>
    <% end %>

    <%= turbo_frame_tag 'bio' do %>
      <p><%= @user.bio %></p>
    <% end %>
    
    <div class="pt-3">
      <p class=" text-gray-500">Interests</p>
      <% @user.traits.interest.each do |trait| %>
        <%= render partial: trait %>
      <% end %>
    </div>

    <div class="pt-3">
      <p class=" text-gray-500">Basics</p>
      <% @user.traits.basic.sort_by(&:name).each do |trait| %>
        <%= render partial: trait %>
      <% end %>
    </div>
  </div>
</div>
